@import "./vars.scss";

.toolbar {
    height: $toolbar-height;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    
    white-space: nowrap;
    
    color: $color-grey;
    background-color: $color-dark;

    .title {
        color: $color-orange;
    }

    h2 {
        color: $color-green;
        display: inline-block;
    }

    form {
        height: 100%;

        display: flex;
        align-content: center;
        align-items: center;

        margin-right: 5em;
    }

    form > input {
        font-style: inherit;
        background-color: $color-dark;
        color: $color-green;

        font-size: 1.5rem;
        font-weight: bold;

        flex-grow: 1;

        margin: 0 0.5em;

        border: 1px solid $color-grey;
        border-radius: 0.1em;
        box-sizing: border-box;
    }

    .last-saved {
        padding-right: 1.5rem;
        font-style: italic;
    }
}


.editor-wrapper {
    height: 100%;
    width: 100%;
}

#monaco-editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@mixin drop-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.editor-wrapper .editor {
    display: flex;
    height: 98vh;
    position: relative;

    @include inset-0;

    .input, .output {
        margin-top: 0.2rem;
        height: calc(100% - 2rem);
        @include drop-shadow;
    }
    
    .input {
        flex-grow: 1;
        margin-right: 0.2rem;
        position: relative;
    }
    
    .output {
        width: calc(50% - 2rem);
        padding-left: 2rem;
        overflow-y: scroll;
    }

}
