/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "./phoenix.scss";
@import "./editor.scss";
@import "./vars.scss";


main {
  position: absolute;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    border-bottom: 2px dotted $color-grey;
  }
}
