@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "markdown.css";

:root {
    --primary-color: rgb(245, 158, 11);
    --primary-variant-color: #6932ff;
    --secondary-color: rgb(16, 185, 129);
    --surface-color: #121212;
    --error-color: #CF6679;
}

@layer base {
    html {
        overflow: hidden;
        color: white;
    }

    /* Hide live reload frame */
    iframe {
        height: 0;
        width: 0;
    }

    table {
        @apply border-collapse border-2 border-gray-500;
    }

    th {
        @apply border border-gray-400 px-4 py-2 text-gray-800;
    }

    td {
        @apply border border-gray-400 px-4 py-2 text-center;
    }

    /* Force hidden */
    [hidden] {
        display: none !important;
    }
}

.nav-item {
    @apply px-3 pr-6 relative flex flex-row items-center h-11 focus:outline-none text-white border-l-4 border-transparent hover:bg-gray-800 hover:border-secondary;
}

.nav-new-item {
    @apply px-3 pr-6 relative flex flex-row items-center h-11 focus:outline-none text-white border-l-4 bg-gray-800 border-secondary;
}

.nav-selected {
    @apply border-secondary border-l-4
}

.nav-header {
    @apply relative flex flex-row font-bold items-center text-green-500 h-8 pr-6;
}

.toolbar {
    @apply h-11 px-4 shadow-md bg-surface;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    white-space: nowrap;
}

.editor {
    height: calc(100% - 3rem);
}

#monaco-editor,
.cy {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#content-editor {
    height: 100%;
}

li > button.plus {
    color: transparent;
    text-shadow: 0 0 0 grey;
}

img.md {
    filter: invert(100%);
}
