@import "./vars.scss";

$nav-width: 15rem;
$toolbar-height: 3rem;

.toolbar {
    height: $toolbar-height;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    
    white-space: nowrap;
    
    color: $color-grey;
    background-color: $color-dark;

    .title {
        color: $color-orange;
    }

    h2 {
        color: $color-green;
    }

    form {
        height: 100%;

        display: flex;
        align-content: center;
        align-items: center;

        margin-right: 5em;
    }

    form > input {
        font-style: inherit;
        background-color: $color-dark;
        color: $color-green;

        font-size: 1.5rem;
        font-weight: bold;

        flex-grow: 1;

        margin: 0 0.5em;

        border: 1px solid $color-grey;
        border-radius: 0.1em;
        box-sizing: border-box;
    }

    .last-saved {
        padding-right: 1.5rem;
        font-style: italic;
    }
}


.content, .editor-wrapper {
    height: 100%;
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: $nav-width 1fr;
}

.content nav {
    display: grid;
    grid-template-rows: $toolbar-height 1fr;

    background-color: $color-dark;

    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
        color: $color-orange;
    }

    ul {
        width: 100%;
        height: 100%;

        margin-top: $toolbar-height;
        padding-left: 0;

        color: $color-yellow;
    }

    li {
        width: 100%;
        list-style: none;
    }
}

#monaco-editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@mixin drop-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content .editor {
    display: flex;
    height: 100%;
    position: relative;

    // inset-0
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    .input, .output {
        margin-top: 0.2rem;
        @include drop-shadow;
    }
    
    .input {
        flex-grow: 1;
        margin-right: 0.2rem;
        height: calc(100% - 0.2rem);
        position: relative;
    }
    
    .output {
        padding: 0.5rem 1rem;
        height: calc(100% - 1.2rem);
        width: calc(50% - 2.2rem);
    }

}

